absl-py==1.0.0
aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==20.1.0
arrow==1.2.2
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
awscli==1.23.11
Babel==2.9.1
backcall==0.1.0
basemap==1.3.0
Beaker==1.10.0
beautifulsoup4==4.11.0
binaryornot==0.4.4
black==22.3.0
bleach==4.0.0
blivet==3.4.3
blivet-gui==2.3.0
blosc==1.10.6
bokeh==2.3.0
botocore==1.25.11
Bottleneck==1.3.2
Brlapi==0.8.3
Brotli==1.0.9
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.11
chrome-gnome-shell==0.0.0
click==8.0.4
cloudpickle==2.0.0
colorama==0.4.4
colorcet==3.0.0
cookiecutter==1.7.3
coverage==6.3.2
cryptography==36.0.0
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.26
dasbus==1.6
dask==2022.2.1
dbus-python==1.2.18
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
distro==1.6.0
docutils==0.15.2
entrypoints==0.4
executing==0.8.2
fastcache==1.1.0
fb-re2==1.0.7
fedora-third-party==0.10
filelock==3.6.0
flake8==4.0.1
flatbuffers==2.0
fonttools==4.33.2
fros==1.1
frozenlist==1.3.0
fs==2.4.11
fsspec==2022.2.0
gast==0.5.3
GDAL==3.4.3
gmpy2==2.1.2
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpg==1.15.1
grpcio==1.44.0
gssapi==1.7.2
h5py==3.6.0
html5lib==1.1
humanize==3.13.1
husl==4.0.3
idna==3.3
imageio==2.18.0
imagesize==1.2.0
ipykernel==6.13.0
ipython==8.0.1
ipython_genutils==0.2.0
jedi==0.18.1
Jinja2==3.0.3
jinja2-time==0.2.0
jmespath==1.0.0
joblib==1.1.0
jsonschema==3.2.0
jupyter-client==7.2.2
jupyter-core==4.10.0
jupyterlab-pygments==0.1.2
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
koji==1.28.1
langtable==0.0.58
libclang==14.0.1
libcomps==0.1.18
libvirt-python==8.0.0
locket==0.2.0
lxml==4.7.1
lz4==3.0.2
Mako==1.1.4
Markdown==3.3.6
MarkupSafe==2.0.0
matplotlib==3.5.1
matplotlib-inline==0.1.2
mccabe==0.6.1
mercurial==6.1.2
mistune==0.8.4
mpmath==1.2.1
multidict==5.1.0
munkres==1.1.2
mypy-extensions==0.4.3
nbclient==0.5.10
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.5
netifaces==0.11.0
networkx==2.8
nftables==0.1
nltk==3.6.2
notebook==6.4.8
numexpr==2.8.1
numpy==1.22.3
numpydoc==1.1.0
oauthlib==3.2.0
olefile==0.46
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.3
pandas-datareader==0.10.0
pandocfilters==1.5.0
param==1.12.1
parso==0.8.2
partd==1.2.0
Paste==3.5.0
pathspec==0.9.0
patsy==0.5.2
pbr==5.9.0
pexpect==4.8.0
pickleshare==0.7.5
pid==2.2.3
Pillow==9.1.0
platformdirs==2.5.2
ply==3.11
poyo==0.5.0
productmd==1.33
progressbar2==3.53.2
prometheus-client==0.13.1
prompt-toolkit==3.0.24
protobuf==3.20.1
psutil==5.9.0
ptyprocess==0.6.0
pure-eval==0.2.2
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycares==4.1.2
pycodestyle==2.8.0
pycparser==2.20
pycrypto==2.6.1
pyct==0.4.8
pycups==2.0.1
pycurl==7.45.1
pydot==1.4.2
pyenchant==3.2.2
pyflakes==2.4.0
pygit2==1.7.1
pyglet==1.5.23
Pygments==2.11.2
PyGObject==3.42.1
pygpu==0.7.6
pygraphviz==1.9
pykickstart==3.36
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.12.0
pyproj==3.3.1
pyrsistent==0.18.1
pyshp==2.3.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-meh==0.50
python-slugify==6.1.2
python-utils==2.5.6
pytz==2022.1
pyudev==0.22.0
PyWavelets==1.1.1
pyxdg==0.27
PyYAML==6.0
pyzmq==22.3.0
regex==2022.3.15
requests==2.27.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-oauthlib==1.3.1
rpm==4.17.0
rpmautospec==0.2.6
rsa==4.7.2
s3transfer==0.5.2
scikit-image==0.18.3
scikit-learn==1.0.2
scipy==1.8.0
scour==0.38.1
seaborn==0.11.1
selinux==3.3
Send2Trash==1.8.0
sepolicy==3.3
setools==4.4.0
shell-functools==0.3.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
snowballstemmer==1.9.0
sos==4.3
soupsieve==2.3.1
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
-e git+ssh://git@github.com/ushichka/dmcp.git@d96b4607135ea0c08dc94235e11a7042cf01423d#egg=src
stack-data==0.1.4
statsmodels==0.13.2
stevedore==3.5.0
sympy==1.10.1
systemd-python==234
tables==3.7.0
Tempita==0.5.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
tf-estimator-nightly==2.8.0.dev2021122109
Theano-PyMC==1.1.2
threadpoolctl==2.0.0
tifffile==2020.7.4
tomli==1.2.3
toolz==0.11.2
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
typing_extensions==4.2.0
urllib3==1.26.8
virtualenv==20.14.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.1
wrapt==1.14.0
xlrd==2.0.1
xlwt==1.3.0
yarl==1.7.2
